<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-center text-alata"> Sejam bem-vindes ao blog! </h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12">
            <p class="text-justify text-alata">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis obcaecati itaque officiis accusamus vel assumenda, porro accusantium enim vero. Debitis itaque in blanditiis perspiciatis facere quae minima veritatis rem aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente pariatur neque rem exercitationem ducimus temporibus eveniet reprehenderit nostrum, aperiam incidunt non hic qui, repudiandae dicta eius! Laudantium quos recusandae ad.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus excepturi provident distinctio laborum ea iure! Minima hic, sunt iste veniam a inventore animi at id modi, ducimus quia unde dicta.

                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatum sapiente assumenda ad nisi, praesentium, deleniti, et tempore inventore incidunt nostrum? Dicta voluptate dolorem quia culpa dolor magnam enim sint!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit sint consequuntur officiis porro odit voluptates quisquam distinctio quod cum similique, quos, eum et eaque ex nesciunt tempora alias, commodi quibusdam lorem lorem commodi quisquam distinctio quod cum similique, quos, eum et eaque porro odit voluptatesea.
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-info text-uppercase" routerLink="/feed"> Ver o fedd </button>
    </div>
</div>


