<!-- Footer -->
<footer class="page-footer font-small text-alata pt-4" style="background-color: #eb8f8f;">

  <!-- Footer Elements -->
  <div class="container">
  
    <!-- Call to action -->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center font-weight-bold ">
        <h4 class="text-light">Redes sociais</h4>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
  
        <ul class="social-network">
          <li>
            <a href="https://github.com/camilamerces" class="icoGithub" title="Github">
              <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/in/camila-das-merces/" class="icoLinkedinIn" title="Linkedin">
            <fa-icon [icon]="faLinkedinIn" class="faLinkedinIn fa-3x p-3"></fa-icon></a>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Call to action -->
  
  </div>
  <!-- Footer Elements -->
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color:#ee6f57;">
    <span class="text-light"> © 2020 Copyright: </span>
      <a class="text-light" href="https://brasil.generation.org">Camila das Mercês</a>
  </div>
  <!-- Copyright -->
  
</footer>
<!-- Footer -->