<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img src="..." class="card-img-top rounded-circle w-75" alt="Imagem do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-alata">Camila das Mercês</h5>
      <p class="card-text text-center text-alata">Apaixonada por tecnologia!</p>

      <a href="https://www.linkedin.com/in/camila-das-merces/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
      <a href="https://github.com/camilamerces" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>
